mp.jwt.verify.publickey.location=publicKey.pem
mp.jwt.verify.issuer=https://example.com/issuer
smallrye.jwt.sign.key.location=privateKey.pem
quarkus.native.resources.includes=publicKey.pem
##DB
quarkus.datasource.db-kind=postgresql
quarkus.hibernate-orm.database.generation=update
quarkus.hibernate-orm.database.generation.create-schemas=true
quarkus.datasource.username=hibernate
quarkus.datasource.password=hibernate
#quarkus.datasource.jdbc.url=jdbc:postgresql://localhost:25432/default
##DB-DEVSERVICE
quarkus.datasource.devservices.port=25432
quarkus.datasource.devservices.db-name=default
quarkus.datasource.devservices.enabled=true
quarkus.hibernate-orm.schema-management.strategy=validate
quarkus.datasource.devservices.volumes."/Users/Shared/Temp/persnal-works/orders_management/volumes/auth/data"=/var/lib/postgresql/data
quarkus.datasource.devservices.image-name=postgres